.participants_table {
  margin: auto;
  margin-top: 3vh;
  direction: rtl;
  margin-bottom: 10vh;
  background-color: whitesmoke !important;
  .logout_button{
    margin-left:2vw;
  }
}
.header_row {
  text-align: center;
}
.rows {
  text-align: center;
}

.searching_box {
  display: block;
  width: 20vw;
  direction: rtl;
  margin-left: 55vw;
  margin-top: 2vh;
}

