.expanded_div {
  float: right;
}

.sadnaot_gifts {
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.details {
  display: inline-block;
  text-align: right;
  vertical-align: top;
}
