@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

body{
  font-family: "Open Sans Hebrew", serif;
}

.par {
  max-width: 80vw;
  min-height: 30vh;
  margin: auto;
}
