.buttuns_instr {
  text-align: center;
}

.div_steps {
  margin-bottom: 3vh;
  width: 100%;
}
.back {
  float: right;
}
.next {
  position: relative;
  left: 2px;
}

button {
  margin-right: 20px;
  margin-left: 20px;
}
